.container-main {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 8fr 3fr;
  grid-template-rows: 1fr 3fr 0.5fr;
  gap: 10px;
  background-color: #FBF2FF;
}

#content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  background-color: #FEDDDD;
  border-radius: 10px;
}

#sidebar {
  grid-column: 3 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.content-item {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  gap: 10px;
}

.weather,
.post {
  padding: 10px;
  height: 100%;
  width: 100%;
}

#weather {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 10px;
}

#post {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calendar-header {
  grid-row: 1 / 2;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

#calendar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#calendar {
  grid-row: 2 / 2;
  border: 1px solid black;
  height: 100%;
  width: 100%;

}

#home {
  margin-bottom: 0px;
  padding: 0px;
  font-size: 80px;
}

#bar {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.bar-fill {
  width: 100%;
  border-bottom: 3px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.bar-text {
  margin: 30px;
}

#button-container {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
}

.post-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.post-button button {
  background-color: #D9D9D9;
}

.weather-image {
  width: 100px;
  height: 100px;
}

.bar-fill {
  font-size: 30px;
}

#content-container {
  background-color: #FBF2FF;
}